.container {
    background: url('../../../../assets/images/bg.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    overflow: hidden;

    @media (max-width: 480) {
        height: calc(100vh - 50px);
    }

    .form-box {
        width: 100%;
        height: 100%;
        background: rgba(171, 171, 171, 0.829);
        display: flex;
        align-items: center;
        justify-content: center;

        mat-card {
            background: transparent;
            width: max-content;
            padding: 2rem;
            max-width: 88%;

            img {
                width: 100%;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                button {
                    background-color: #0C1E46;
                    color: #ffffff;
                    font-weight: 600;

                    &:disabled {
                        background-color: gray;
                    }
                }
            }
        }
    }
}