.container {
    background: #DEE8FF;
    padding-bottom: 2rem;

    .hero {
        padding: 2rem 5rem;

        img {
            width: 100%;
            max-height: 530px;
            border-radius: 12px;
        }

        @media (max-width: 500px) {
            padding: 1rem 2rem;
        }
    }

    .content {
        width: 70%;
        margin: 0 auto;

        h1 {
            margin: 0;
        }

        span {
            color: #8F751B;
            font-weight: 400;
        }

        p {
            line-height: 1.4;
            margin-bottom: 1.5rem;
        }

        @media (max-width: 500px) {
            width: 80%;
        }
    }

    .carousel {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 0 1.5rem 1rem;
    }


    .carousel-item {
        max-width: 260px;
        height: 400px;
        background: white;
        border-radius: 12px;
        padding: 1rem;
        box-shadow: 0 3px 8px rgba(0,0,0,0.1);
        position: relative;

        h3 {
            margin: 0;
        }

        p {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            // font-size: 1rem;
        }

        @media (max-width: 500px) {
            min-width: 60% !important;
        }
    }


    .carousel-item img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }


    button {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        margin-top: 10px;
        background: #112A46;
        color: white;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 200ms ease-in-out;

        &:hover {
          transform: translateX(-50%) scale(1.05);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
        }
    }
}