.container {
    padding: 1rem 5rem;
    background-color: rgb(236, 233, 233);

    @media (max-width: 1200px) {
        padding: 1rem 3rem;
    }

    @media (max-width: 768px) {
        padding: 1rem;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        h3 {
            font-size: 2rem;
            font-weight: 700;
        }

        button {
            background-color: #0C1E46;
            font-weight: 600;
            color: #fff;
            font-size: 18px;
        }
    }

    .filters {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 1rem 0 0;

        @media (max-width: 900px) {
            mat-form-field {
                width: 45%;
            }

            .search-field {
                width: 100%;
                min-width: unset;
            }
        }

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: stretch;
            padding-top: 1.5rem;
            gap: .5rem;

            mat-form-field {
                width: 100%;
            }

            .search-field {
                width: 100%;
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-top: 25px;

        .page-info {
            font-weight: 600;
            font-size: 14px;
        }

        button {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        @media (max-width: 900px) {
            gap: 15px;
        }

        @media (max-width: 600px) {
            gap: 12px;

            .page-info {
                font-size: 13px;
            }
        }
    }

    .blogs {
        margin: 2rem 0;
        padding: 0 2rem;

        @media (max-width: 768px) {
            padding: 0;
        }

        .blog-card {
            background-color: #fff;
            padding: 1rem;
            display: flex;
            gap: 1.5rem;
            border-radius: 20px;
            margin-bottom: 1.5rem;

            @media (max-width: 992px) {
                gap: 1rem;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                padding: 1.2rem;
            }

            img {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                object-fit: cover;

                @media (max-width: 992px) {
                    width: 150px;
                    height: 150px;
                }

                @media (max-width: 768px) {
                    width: 100%;
                    height: 220px;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    gap: 1rem;

                    @media (max-width: 480px) {
                        flex-direction: column;
                    }

                    span {
                        padding: 8px;
                        height: max-content;
                        border-radius: 6px;
                        font-size: 14px;
                        white-space: nowrap;

                        &.published {
                            background: #D3FFF0;
                            color: #006042;
                        }

                        &.draft {
                            background: #FFF4CC;
                            color: #8A6D00;
                        }
                    }

                    div {
                        max-width: 80%;

                        @media (max-width: 768px) {
                            max-width: 100%;
                        }

                        .tit {
                            display: flex;
                            align-items: first baseline;
                            gap: 1rem;
                            // width: 100%;

                            span {
                                width: max-content;
                                font-size: .7rem;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                background-color: #ddd;
                                color: #5c656e;
                                border-radius: 24px;
                                padding: 2px 8px;

                                mat-icon {
                                    height: 16px;
                                    width: 16px;
                                    font-size: 1rem;
                                }
                            }

                            @media (max-width: 480px) {
                                flex-direction: column;
                                gap: .2rem;
                            }
                        }

                        h4 {
                            margin: 0;
                            padding: 0;
                            font-size: 28px;
                            font-weight: 600;
                            color: #0C1E46;

                            @media (max-width: 992px) {
                                font-size: 22px;
                            }
                        }

                        p {
                            margin: .5rem 0 0;
                            font-weight: 400;
                            line-height: 1.2;
                            color: #7A7A7A;
                            font-size: 15px;
                        }
                    }
                }

                .actions {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // flex-wrap: wrap;
                    gap: 1rem;
                    margin-top: 1rem;

                    @media (max-width: 480px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    span {
                        color: #7A7A7A;
                        font-size: 16px;

                        @media (max-width: 992px) {
                            font-size: 14px;
                        }
                    }

                    .cta {
                        display: flex;
                        gap: 1rem;
                        align-items: center;

                        @media (max-width: 480px) {
                            width: 100%;
                            justify-content: flex-end;
                        }

                        button {
                            padding: 10px 16px;
                            border-radius: 10px;
                            background-color: #F9FAFB;
                            color: #0C1E46;
                            font-weight: 500;
                            font-size: 14px;

                            &:nth-of-type(2) {
                                background-color: #FEF2F2;
                                color: #E70022;

                                &:hover {
                                    background-color: #f8c4c4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// .container {
//     padding: 1rem 5rem;
//     background-color: rgb(236, 233, 233);

//     .title {
//         // padding: 0 1rem;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         h3 {
//             font-size: 1.5rem;
//             font-weight: 700;
//         }

//         button {
//             background-color: #0C1E46;
//             font-weight: 600;
//             color: #fff;
//         }
//     }

//     .blogs {
//         margin-top: 2rem;
//         margin-bottom: 2rem;
//         padding: 0 2rem;

//         .blog-card {
//             background-color: #fff;
//             padding: 1rem;
//             display: flex;
//             gap: 1.5rem;
//             border-radius: 20px;

//             img {
//                 width: 200px;
//                 height: 200px;
//                 border-radius: 10px;
//             }

//             .content {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-between;
//                 width: 100%;

//                 .text {
//                     display: flex;
//                     justify-content: space-between;

//                     span {
//                         background-color: #D3FFF0;
//                         color: #006042;
//                         padding: 8px;
//                         height: max-content;
//                         border-radius: 6px;
//                     }

//                     div {
//                         max-width: 70%;
                        
//                         h4 {
//                             margin: 0;
//                             font-size: 28px;
//                             font-weight: 600;
//                             color: #0C1E46;
//                         }

//                         p {
//                             margin: .5rem 0 0;
//                             font-weight: 400;
//                             line-height: 1.2;
//                             color: #7A7A7A;
//                         }
//                     }
//                 }

//                 .actions {
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;

//                     span {
//                         color: #7A7A7A;
//                         font-size: 18px;
//                     }

//                     .cta {
//                         display: flex;
//                         gap: 1rem;
//                         align-items: center;

//                         button {
//                             padding: 10px 16px;
//                             border-radius: 10px;
//                             background-color: #F9FAFB;
//                             color: #0C1E46;
//                             font-weight: 500;

//                             &:nth-of-type(2) {
//                                 background-color: #FEF2F2;
//                                 color: #E70022;

//                                 &:hover {
//                                     background-color: #f8c4c4;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// ::ng-deep .create-blog-dialog .mat-mdc-dialog-surface {
//     border-radius: 10px !important;
// }
