.container {
    background: url('../../../../assets/images/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;

    .form-box {
        width: 50%;
        height: 100vh;
        background: rgba(171, 171, 171, 0.829);
        display: flex;
        align-items: center;
        justify-content: center;

        mat-card {
            background: transparent;
            width: max-content;
            padding: 2rem;
            max-width: 88%;

            img {
                width: 100%;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                button {
                    background-color: #0C1E46;
                    color: #ffffff;
                    font-weight: 600;

                    &:disabled {
                        background-color: gray;
                    }
                }
            }
        }

        @media (max-width: 920px) {
            width: 65%;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }
}